body, html {
    width: 100%;
    margin: 0;
    padding: 0;
}

.container {
    width: 1600px;
    background-color: white;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 0 0 15px 0;
}

@media (max-width: 1040px) {
    .container {
        width: calc(100% - 30px);
        padding: 0 15px 15px 15px;
    }
}

@media (max-width: 1600px) and (min-width: 1040px) {
    .container {
        width: 1040px;
    }
}

.header {
    display: flex;
    min-height: 116px;
    align-items: center;
}

@media (max-width: 1040px) {
    .header {
        min-height: 80px;
    }
}

.header__logo-image {
    width: 91px;
}

.wrapper {
    display: grid;
    width: 100%;
    grid-auto-flow: dense;
    grid-column-gap: 16px;
    grid-auto-rows: 250px;
    grid-auto-columns: 1fr;
    grid-row-gap: 30px;
}

@media (max-width: 1040px) {
    .wrapper {
        grid-auto-rows: 210px;
        grid-row-gap: 20px;
    }
}

.item {
    grid-row: span 1;
}

.item_lg {
    grid-column: span 6;
    display: grid;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
}

.item_md {
    grid-column: span 3;
    position: relative;
}

@media (max-width: 700px) {
    .item_md {
        grid-column: span 6;
    }
}

.item_sm {
    grid-column: span 2;
    position: relative;
}

@media (max-width: 700px) {
    .item_sm {
        grid-column: span 6;
    }
}

.large__image {
    grid-column: span 2;
    grid-row: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.large__content {
    grid-column: span 1;
    grid-row: 1;
    padding-left: 15px;
    height: 235px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
}

@media (max-width: 1040px) {
    .large__content {
        height: 210px;
    }
}

.large__label {
    font-size: 19px;
    margin: 0 0 5px 0;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

@media (max-width: 700px) {
    .large__label {
        font-size: 15px;
        line-height: 16px;
    }
}

.large__description {
    overflow: hidden;
    overflow: -webkit-paged-x;
    grid-column: span 10;
    text-overflow: clip;
    font-size: 14px;
    line-height: 20px;
}

@media (max-width: 700px) {
    .large__description {
        font-size: 12px;
        line-height: 14px;
    }
}

.large__icons {
    align-items: center;
    display: flex;
    min-height: 15px;
}

.large__like-icon {
    margin-left: auto;
}

.medium__label {
    z-index: 2;
    position: absolute;
    top: 0;
    display: block;
    background-color: white;
    width: 100%;
    padding-bottom: 10px;
    margin: 0;
}

@media (max-width: 700px) { 
    .medium__label {
        font-size: 15px;
        line-height: 16px;
    }
}

.medium__image {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    top: 0;
    z-index: 1;
    object-fit: cover;
    border-radius: 5px;
}

.medium__description-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    position: absolute;
    z-index: 2;
    padding-top: 8px;
    bottom: 0;
    background-color: white;
}

.medium__description-text {
    font-size: 14px;
    line-height: 20px;
    overflow: hidden;
    overflow: -webkit-paged-x;
    text-overflow: clip;
    max-height: 62px;
    margin-right: 10px;
}

@media (max-width: 700px) {
    .medium__description-text {
        font-size: 12px;
        line-height: 14px;
    }
}

.medium__icons-container {
    margin-left: auto;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
}

.medium__action-icon {
    margin-top: 12px;
    margin-bottom: 17px;
}

.small__label {
    z-index: 2;
    position: absolute;
    top: 0;
    display: block;
    background-color: white;
    width: 100%;
    padding-bottom: 10px;
    margin: 0;
}

@media (max-width: 700px) { 
    .small__label {
        font-size: 15px;
        line-height: 16px;
    }
}

.small__image {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    top: 0;
    z-index: 1;
    object-fit: cover;
    border-radius: 5px;
}

.small__description {
    font-size: 14px;
    display: block;
    max-height: 190px;
    overflow: -webkit-paged-x;
    text-overflow: clip;
    line-height: 20px;
}

@media (max-width: 700px) {
    .small__description {
        font-size: 12px;
        line-height: 14px;
    }
}


.small__like-icon {
    position: absolute;
    z-index: 3;
    right: 10px;
    bottom: 10px;
}
